[user]
	name = Sky JIA
	email = me@skyjia.com
	signingkey = EE514A710AE059D5
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/skyjia/.gitignore_global
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = simple
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[commit]
	template = /Users/skyjia/.stCommitMsg
	gpgsign = true
[http]
	postBuffer = 524288000
	proxy = http://127.0.0.1:1087
[gpg]
	program = gpg2
[color]
	ui = true
