[user]
	name = Sky JIA
	email = me@skyjia.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = $HOME/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
