[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "raycast/.config/raycast/script-commands"]
	path = raycast/.config/raycast/script-commands
	url = https://github.com/raycast/script-commands.git
[submodule "warp/.warp/official-themes"]
	path = warp/.warp/official-themes
	url = https://github.com/warpdotdev/themes.git
[submodule "nushell/nu_scripts"]
	path = nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts.git
[submodule "raycast/raycast-script-commands"]
	path = raycast/raycast-script-commands
	url = https://github.com/skyjia/raycast-script-commands.git
